/* <ADMIN-PAGE>================================================================================= */
.admin-page {
    --admin_panel_color: var(--theme_color_2);
    --admin_panel_color_2: var(--theme_color_3);
    --admin_panel_button_hover_color: #990101;
    --sidebar_trans_dur: .3s;

    font-weight: 500;
    flex: 1 1 auto;
    display: flex;
    position: relative;

    // добавление - начало
    &__container {
        padding-top: 60px;
        padding-bottom: 60px;
        min-width: var(--container_width);
    }

    &__creation {
        width: 100%;
    }

    &__creation-table {
        margin-bottom: 30px;
    }

    &__creation-image {
        margin-bottom: 30px;
    }

    &__creation-save {
        display: flex;
        justify-content: center;

        .button {
            font-size: 19px;
            line-height: 21px;
        }
    }

    // добавление - конец

    // управление - начало
    &__control-filtering.inputs-flex {
        display: flex;
        flex-wrap: wrap;
        background-color: #f1f1f1;
        padding: 15px;
    }

    // управление - конец

    // панель навигации - начало
    &__sidebar-button {
        display: none;
    }

    &__sidebar {
        flex: 0 0 220px;
        background-color: var(--admin_panel_color);
        box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, .4);
        color: #bababa;
        position: relative;
        z-index: 100;

        button,
        .link {
            color: inherit;
            width: 100%;
            text-align: left;
            transition-property: color, background-color;
            transition-duration: .3s;

            &:hover {
                background-color: var(--admin_panel_button_hover_color);
                color: #e9e9e9;
            }
        }
    }

    &__nav-item {
        position: relative;
        font-size: 19px;
        line-height: 21px;
        border-bottom: 1px solid #bababa;
    }

    &__nav-item button,
    &__nav-item a {
        display: block;
        padding: 10px;
    }

    &__nav-expanded {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(100%, 15%);
        min-width: 250px;
        background-color: var(--admin_panel_color);
        opacity: 0;
        border-left: 1px solid #bababa;
        border-right: 1px solid #bababa;
        z-index: 15;
        pointer-events: none;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: .3s;
        transition-delay: 0s, .3s;
    }

    &__nav-expanded.__expanded {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
        pointer-events: all;
    }

    &__nav-expanded-item {
        border-bottom: 1px solid #bababa;
    }

    &__nav-sublist {
        background-color: var(--admin_panel_color_2);
        box-shadow: inset 0px 0px 10px 1px #223c50;
    }

    &__nav-subitem {
        position: relative;
        border-bottom: 1px solid #bababa;

        &:last-child {
            border-bottom-width: 0;
        }
    }

    &__nav-subitem button,
    &__nav-subitem .link {
        padding: 5px 15px 5px 25px;
        display: block;
    }

    &__nav-subitem &__nav-expanded {
        background: var(--admin_panel_color_2);
    }

    // панель навигации - конец

    // адаптив
    @media (max-width: 1599px) {
        &__container.container {
            max-width: unset;
            min-width: unset;
            flex: 1 1 auto;
            margin-left: 25px;
        }
    }

    @media (max-width: 992px) {
        &__container.container {
            margin-left: 0;
        }

        &__sidebar {
            position: fixed;
            top: var(--header_height);
            left: -100%;
            z-index: 150;
            flex: 0 0 auto;
            width: 250px;
            height: calc(100% - var(--header_height));
            overflow-y: scroll;
            transition: left var(--sidebar_trans_dur);
        }

        &__sidebar-button.__shown {
            transform: translateX(250px) rotate(180deg);
        }

        &__sidebar-button.__shown+&__sidebar {
            left: 0;
        }

        &__sidebar-button {
            display: block;
            position: fixed;
            top: 60px;
            left: 15px;
            width: 25px;
            height: 25px;
            transform: rotate(0deg);
            z-index: 50;
            transition: transform var(--sidebar_trans_dur);

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &__nav-expanded {
            transform: none;
            top: 100%;
            border-left: 0;
            border-right: 0;
            background-color: var(--theme_color);
            color: #fff;
        }

        &__nav-expanded>&__nav-expanded-item {
            border-color: #fff;
        }
    }
}

/* <ADMIN-PAGE>================================================================================= */

/* <INPUTS-GRID>================================================================================ */
.inputs-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .text-input,
    .select {
        margin: 0 30px 15px 0;
    }

    margin-bottom: 15px;

    @media (max-width: 639px) {

        .text-input,
        .select {
            margin: 0 15px 15px 0;
        }
    }

    @media (max-width: 539px) {

        .text-input,
        .select {
            margin: 0 0 15px 0;
            flex: 0 0 100%;
            max-width: 350px;
        }
    }
}

/* <INPUTS-GRID>================================================================================ */

/* <ADMIN-LIST-TABLE>=========================================================================== */
.admin-list-table {

    font-size: 16px;
    line-height: 19px;
    width: 100%;

    &__heading {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: #f1f1f1;
        padding: 5px 10px;

        .error {
            margin-left: 15px;
            font-size: 18px;
        }

        svg {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }

    &__container {
        padding: 10px;
    }

    &__table {
        border-collapse: collapse;
        width: 100%;
        min-width: 760px;
        text-align: center;

        th {
            font-weight: 500;
            text-align: center;
            color: #fff;
            background-color: var(--theme_color);
        }

        th,
        td {
            padding: 5px 10px;

            img {
                width: 125px;
                height: 125px;
                object-fit: contain;
            }
        }
    }

    &__table,
    &__table th,
    &__table td {
        border: 1px solid #474747;
    }

    &__control-button {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 5px;

        &--delete {
            color: var(--error_color);
        }

        &--edit {
            color: var(--theme_color);
        }

        &--save {
            color: var(--hover_color);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__add-button {
        display: flex;
        align-items: center;
        font-size: 18px;
        text-align: center;
        margin: 0 auto;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

    textarea {
        width: 100%;
        height: 100%;
        text-align: center;
        resize: none;
        background-color: transparent;

        &::placeholder {
            font-style: italic;
            font-weight: 500;
            font-family: inherit;
        }
    }

    tr.__not-saved {
        background-color: #dcdcdc;
    }

    .select {
        &__value {
            padding: 5px 20px;
        }

        &__item-label {
            >span {
                padding: 5px 15px;
            }
        }
    }

    @media (max-width: 1249px) {
        &__container {
            overflow: auto;
            max-width: calc(100vw - 270px);
        }
    }

    @media (max-width: 992px) {
        &__container {
            max-width: calc(100vw - 20px);
        }
    }
}

/* <ADMIN-LIST-TABLE>=========================================================================== */