.admin-page {
    &__container {
        min-width: var(--container_width);
    }

    &__creation {
        padding: 60px 0;
        width: 100%;
    }

    &__creation-table {
        margin-bottom: 30px;
    }

    &__creation-image {
        margin-bottom: 30px;
    }
}

/* <INPUTS-GRID>================================================================================ */
.inputs-flex {
    width: 100%;
    display: flex;

    .text-input,
    .select {
        margin: 0 30px 30px 0;
    }
}

/* <INPUTS-GRID>================================================================================ */