@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.eot?g7z9lc");
    src:
        url("../fonts/Roboto/Roboto-Thin.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("../fonts/Roboto/Roboto-Thin.ttf?g7z9lc") format("truetype"),
        url("../fonts/Roboto/Roboto-Thin.woff?g7z9lc") format("woff"),
        url("../fonts/Roboto/Roboto-Thin.svg?g7z9lc#icon") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.eot?g7z9lc");
    src:
        url("../fonts/Roboto/Roboto-Regular.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("../fonts/Roboto/Roboto-Regular.ttf?g7z9lc") format("truetype"),
        url("../fonts/Roboto/Roboto-Regular.woff?g7z9lc") format("woff"),
        url("../fonts/Roboto/Roboto-Regular.svg?g7z9lc#icon") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Italic.eot?g7z9lc");
    src:
        url("../fonts/Roboto/Roboto-Italic.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("../fonts/Roboto/Roboto-Italic.ttf?g7z9lc") format("truetype"),
        url("../fonts/Roboto/Roboto-Italic.woff?g7z9lc") format("woff"),
        url("../fonts/Roboto/Roboto-Italic.svg?g7z9lc#icon") format("svg");
    font-weight: 400;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.eot?g7z9lc");
    src:
        url("../fonts/Roboto/Roboto-Medium.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("../fonts/Roboto/Roboto-Medium.ttf?g7z9lc") format("truetype"),
        url("../fonts/Roboto/Roboto-Medium.woff?g7z9lc") format("woff"),
        url("../fonts/Roboto/Roboto-Medium.svg?g7z9lc#icon") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.eot?g7z9lc");
    src:
        url("../fonts/Roboto/Roboto-Bold.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("../fonts/Roboto/Roboto-Bold.ttf?g7z9lc") format("truetype"),
        url("../fonts/Roboto/Roboto-Bold.woff?g7z9lc") format("woff"),
        url("../fonts/Roboto/Roboto-Bold.svg?g7z9lc#icon") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.eot?g7z9lc");
    src:
        url("../fonts/Roboto/Roboto-Black.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("../fonts/Roboto/Roboto-Black.ttf?g7z9lc") format("truetype"),
        url("../fonts/Roboto/Roboto-Black.woff?g7z9lc") format("woff"),
        url("../fonts/Roboto/Roboto-Black.svg?g7z9lc#icon") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: block;
}