@import './fonts.scss';
@import './nullstyles.scss';

:root {
    --border_radius: 9px;

    --theme_color: #8B75C8;
    --theme_color_darker: #251C41;
    --theme_color_2: #00197f;
    --theme_color_3: #00667f;
    --hover_color: #97d413;
    --error_color: #b81c1c;

    --container_width: 1200px;
    --header_height: 51px;

    font-family: 'Roboto';
    font-size: 14px;
}

/* <GENERAL>==================================================================================== */
.wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: var(--container_width);
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
}

svg {
    display: inline-block;
}

label {
    cursor: pointer;
}

button:disabled {
    cursor: default;
    color: #dadada;
}

/* <GENERAL>==================================================================================== */

/* <TRANSITION-NAMES>=========================================================================== */
// general
.fade-in-enter-active,
.fade-in-leave-active {
    transition: all .1s;
}

.fade-in-enter-from,
.fade-in-leave-to {
    opacity: 0;
}

.fade-in-enter-to,
.fade-in-leave-from {
    opacity: 1;
}

.scale-up-enter-active,
.scale-up-leave-active {
    transition: all .2s;
}

.scale-up-enter-from,
.scale-up-leave-to {
    transform: scale(0);
}

.scale-up-enter-to,
.scale-up-leave-from {
    transform: scale(1);
}

.slide-above-parent {
    overflow: hidden;
}

.slide-above-enter-active,
.slide-above-leave-active {
    transition: all .1s;
}

.slide-above-enter-from {
    transform: translateY(-200%);
}

.slide-above-leave-to {
    transform: translateY(200%);
}

.slide-above-enter-to,
.slide-above-leave-from {
    transform: translateY(0);
}

.grow-enter-active,
.grow-leave-active,
.grow-move {
    transition: all .3s;
    overflow: hidden;
}

.grow-enter-from,
.grow-leave-to {
    max-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    transform: scale(0);
}

.grow-enter-to,
.grow-leave-from {
    max-height: 300px;
    transform: scale(1);
}

.modal-tabs-body-enter-active,
.modal-tabs-body-leave-active {
    transition: all .2s;
}

.modal-tabs-body-enter-from,
.modal-tabs-body-leave-to {
    opacity: 0;
}

.modal-tabs-body-enter-to,
.modal-tabs-body-leave-from {
    opacity: 1;
}

/* <TRANSITION-NAMES>=========================================================================== */

/* <FONTS>====================================================================================== */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.fs-italic {
    font-style: italic;
}

.fw-900 {
    font-weight: 900;
}

/* <FONTS>====================================================================================== */

/* <UI>========================================================================================= */
// circle wrapper (для иконок)
.circle-wrapper {
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;

    &:not(.circle-wrapper--not-interactive):hover {
        background-color: rgba(151, 212, 19, .6);
    }

    &--not-interactive {
        cursor: default;
    }

    &.__active {
        background-color: #34C900;
        color: #fff;

        svg {
            color: inherit;
        }
    }

    svg {
        width: 25px;
        height: 25px;
        color: var(--theme_color_darker);
    }

    &__number {
        position: absolute;
        right: -10px;
        top: -5px;
        border-radius: 50%;
        padding: 2px 5px;
        background-color: #34C900;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 11px;
        font-weight: 700;
    }

    &--shadow {
        box-shadow: 0px 6px 15px 0px rgba(140, 121, 199, .3);
    }

    @media (max-width: 949px) {
        &.circle-wrapper--adaptive {
            background-color: transparent !important;
            width: auto;
            height: auto;
        }

        &.circle-wrapper--adaptive.circle-wrapper--shadow {
            box-shadow: none;
        }
    }
}

// circle text (для текста)
.circle-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #97D413;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    padding: 16px 8px;
    border-radius: 50%;

    &--date {
        width: 55px;
        height: 55px;
        background-color: var(--theme_color);
    }

    &__upper {
        font-size: 23px;
        line-height: 25px;
    }

    &__lower {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    @media (max-width: 767px) {
        font-size: 12px;
        padding: 10px 4px;
    }
}

// link
.link {
    --transition_dur: .2s;

    transition: color var(--transition_dur);

    svg {
        transition: color var(--transition_dur);
    }

    &:hover,
    &:hover svg {
        color: var(--hover_color);
    }
}

// button
.button {
    border-radius: 220px;
    text-align: center;
    font-size: 14px;
    padding: 11px 17px;
    min-width: 105px;
    border: 1px solid #a9a9a9;
    transition-property: background-color, color;
    transition-duration: .3s;

    &:hover {
        background-color: var(--theme_color_darker);
        color: #fff;
    }
}

.button--colored {
    background-color: var(--theme_color);
    color: #fff;
    font-weight: 700;
    box-shadow: 0px 8px 30px 0px rgba(139, 117, 200, .5);
    transition-property: background-color, color, box-shadow;

    &:hover {
        box-shadow: 0px 2px 30px 0px rgba(139, 117, 200, .5);
    }
}

// close button
.close-button {
    --close_color: #414141;

    cursor: pointer;
    position: relative;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--close_color);
        border-radius: 2px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

/* <UI>========================================================================================= */

/* <CONTACT-BLOCK>============================================================================== */
.contact-block {
    display: flex;
    align-items: center;

    &__text {
        color: #aeaeae;
        font-size: 13px;
        line-height: 15px;
        margin-left: 14px;
        color: #313131;
    }

    &__value {
        font-weight: 700;
        color: #313131;
        font-size: 14px;
        line-height: 24px;
    }

    &__value--bigger {
        font-size: 24px;
        line-height: 28px;
    }
}

/* <CONTACT-BLOCK>============================================================================== */

/* <LOGO>======================================================================================= */
.logo {
    display: flex;
    align-items: center;
    padding: 8px 0;
    color: #fff;

    &:hover {
        color: var(--hover_color);
    }

    svg {
        color: inherit;
        margin-right: 7px;
    }

    &__text {
        display: flex;
        align-items: center;
    }
}

/* <LOGO>======================================================================================= */

/* <CARDS-LISTS>================================================================================ */
.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: center;
    grid-gap: 30px;
    margin: 25px 0;

    .card {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 599px) {
        display: flex;
        justify-content: flex-start;
        padding: 20px 10px;
        grid-gap: 0;
        overflow: auto;
        width: 100%;
    }
}

.product-cards--horizontal {
    grid-template-columns: repeat(auto-fit, 380px);
    grid-gap: 20px;
}

/* <CARDS-LISTS>================================================================================ */

/* <CARDS>====================================================================================== */
.card {
    position: relative;

    &__container {
        position: relative;
        z-index: 10;
        background-color: #fff;
        border-radius: var(--border_radius);
        box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, .1);
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, .1);
        transform: translateY(16px) scale(0.96);
        z-index: 0;
        border-radius: var(--border_radius);
        background-color: #fff;
    }

    @media (max-width: 599px) {
        &__container {
            padding: 8px;
        }

        .star-rating {
            &__star {
                width: 10px;
                height: 10px;
                margin-right: 3px;
            }
        }
    }
}

// product card —— start
.product-card {
    width: 270px;

    [data-prodcard-mobile-buttons] {
        display: none;
    }

    &__expand-top {
        display: none;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__circle-buttons {
        display: grid;
        flex: 1 1 auto;
        grid-template-columns: repeat(auto-fit, 40px);
        justify-content: flex-end;
        align-items: center;
        grid-gap: 11px;
    }

    &__image-container {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 195px;
        height: 195px;
        object-fit: contain;
    }

    &__title {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    &__description {
        font-size: 12px;
        line-height: 14px;
        margin-top: 12px;
        margin-bottom: 18px;
    }

    &__flex {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__flex-item {
        flex: 0 0 45%;

        &:first-child {
            margin-right: 10px;
        }
    }

    &__price {
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
        color: #444;
        text-align: right;
    }

    &__buttons {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .button {
            font-size: 13px;
            line-height: 15px;
            display: block;
            margin: 0 10px 10px 0;
            padding: 11px 7px;
        }
    }

    @media (max-width: 599px) {
        width: 176px;

        &::before {
            display: none;
        }

        &__expand-top,
        &__expand-top.circle-wrapper {
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 20;
            width: 25px;
            height: 25px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #eee;

            &:hover:not(.__active) {
                background-color: #eee;
            }

            svg {
                width: 17px;
                height: 17px;
            }
        }

        &__expand-top.__active,
        &__expand-top.__active:hover {
            background-color: var(--hover_color);
        }

        &__top {
            flex-wrap: wrap;
            justify-content: space-between;
            position: absolute;
            background-color: #fff;
            border-radius: var(--border_radius);
            top: 30px;
            right: 4px;
            z-index: 20;
            width: calc(100% - 8px);
            padding: 10px;
            box-shadow: 10px 15px 10px rgba(0, 0, 0, .1), -5px -5px 10px rgba(0, 0, 0, .1);
            opacity: 0;
            visibility: hidden;
            transition-property: opacity, visibility;
            transition-duration: .2s;
            transition-delay: 0s, .2s;
        }

        &__top.__expanded {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
        }

        &__top>* {
            flex: 0 0 100%;
        }

        &__top>&__stock {
            flex: 0 0 auto;
            margin-bottom: 15px;
        }

        &__top>&__circle-buttons {
            justify-content: flex-start;
        }

        &__image {
            width: 135px;
            height: 135px;
        }

        &__price {
            font-size: 18px;
            line-height: 21px;
            color: var(--theme_color);
        }

        &__description {
            display: none;
        }
    }
}

.product-card--discount {
    .product-card {
        &__circle-discount {
            position: absolute;
            top: 12px;
            right: 12px;
        }

        &__star-rating-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
        }

        &__buttons {
            margin-top: 0;

            .button {
                margin: 0;
            }
        }
    }

    @media (max-width: 599px) {
        .product-card {
            &__circle-discount {
                right: auto;
                left: 8px;
            }
        }
    }
}

.product-card--horizontal {
    width: 387px;
    min-height: 162px;

    &::before {
        transform: translateY(10px) scale(0.96);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .05);
    }

    .product-card {
        &__container {
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .05);
        }

        &__image-container {
            float: left;
            margin-right: 11px;
        }

        &__image {
            width: 124px;
            height: 124px;
        }

        &__title {
            margin-bottom: 7px;
        }

        &__price {
            text-align: left;
        }

        &__star-rating-container {
            margin-bottom: 7px;
        }
    }

    @media (max-width: 599px) {
        width: 176px;
        height: auto;

        .product-card {
            &__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }

            &__image-container {
                order: 1;
                flex: 0 0 100%;
            }

            &__title {
                order: 2;
                flex: 0 0 100%;
            }

            &__star-rating-container {
                flex: 0 1 auto;
                margin: 0;
                order: 3;
            }

            &__price {
                flex: 0 1 auto;
                order: 4;
            }
        }
    }
}

// product card —— end
/* <CARDS>====================================================================================== */

/* <INPUT>====================================================================================== */
.input-label {
    color: #474747;
    font-size: 13px;
    line-height: 15px;
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

/* <INPUT>====================================================================================== */

/* <CHECKBOX>=================================================================================== */
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    &__box {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, .35);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    input {
        display: none;
    }

    input:checked+&__box {
        background-color: var(--theme_color);

        &::before {
            content: "";
            background-image: url('/img/icons/checkmark.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 15px;
            height: 15px;
        }
    }
}

/* <CHECKBOX>=================================================================================== */

/* <ERROR>====================================================================================== */
.error {
    font-size: 16px;
    line-height: 18px;
    color: var(--error_color);
    display: block;
}

/* <ERROR>====================================================================================== */

/* <PRICES>===================================================================================== */

.price-current,
.price-old {
    font-size: 18px;
    line-height: 24px;
    display: block;
}

.price-old {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, .5);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--error_color);
        border-radius: 2px;
        transform: rotate(5deg);
    }
}

/* <PRICES>===================================================================================== */

/* <PAGINATION>================================================================================= */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__button {
        width: 12px;
        height: 20px;
        display: block;
        color: #494949;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__button--prev {
        transform: rotate(180deg);
    }

    &__numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 15px 0 15px;
    }

    &__number {
        font-size: 17px;
        line-height: 20px;
        color: #646464;
        padding: 10px 14px;
        border-radius: 7px;
        border: 1px solid #646464;
        transition-property: color, background-color, border-color;
        transition-duration: .3s;

        &:hover {
            color: #fff;
            background-color: var(--theme_color_3);
        }

        &:last-child {
            margin-right: 0;
        }

        &.__active {
            background-color: var(--theme_color);
            color: #fff;
            border-color: var(--theme_color);
        }
    }

    &__number,
    &__ellipsis {
        margin-right: 11px;
        margin-bottom: 11px;
    }
}

/* <PAGINATION>================================================================================= */

/* <TILE-NAV>=================================================================================== */
.tile-nav {
    width: 300px;
    max-width: 100%;
    font-size: 18px;
    line-height: 21px;

    &__list {
        &.card__container {
            padding: 0;
        }
        overflow: hidden;
    }

    &__item {
        border-bottom: 1px solid #bababa;

        &:last-child {
            border-bottom-width: 0;
        }

        .link {
            display: block;
            padding: 10px;
            transition-property: background-color, color;

            &:hover {
                background-color: var(--theme_color);
                color: #fff;
            }

            &.router-link-active {
                background-color: var(--theme_color_3);
                color: #fff;
            }
        }
    }
}

/* <TILE-NAV>=================================================================================== */

/* <INPUTS-FLEX>================================================================================ */
.inputs-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .text-input,
    .select {
        margin: 0 30px 15px 0;
    }

    margin-bottom: 15px;

    @media (max-width: 639px) {

        .text-input,
        .select {
            margin: 0 15px 15px 0;
        }
    }

    @media (max-width: 539px) {

        .text-input,
        .select {
            margin: 0 0 15px 0;
            flex: 0 0 100%;
            max-width: 350px;
        }
    }
}

/* <INPUTS-FLEX>================================================================================ */